<div class="main-first-block">
	<div class="original">
		<div class="left-half">
			<div ng-include="'img/main/foodvan-stuff.svg'" class="van"></div>
		</div>
		<div class="arrow-box">
			<div class="wrapper">
				<img class="bounce arrow" src="img/arrow.svg" alt="">
			</div>
		</div>
	</div>
	<div class="clone">
		<div class="right-half">
			<img id="street" class="title-image" src="img/title1.png" alt="">
			<img id="food" class="title-image" src="img/title2.png" alt="">
			<img id="burgers_x5F_noodles" class="title-image" src="img/title3.png" alt="">
		</div>
		<div class="arrow-box">
			<div class="wrapper">
				<img class="bounce arrow" src="img/arrow.svg" alt="">
			</div>
		</div>
	</div>
</div>
<div id="fullpage" class="first-page">
	<div class="main-second-block">
		<div class="row main-second-block-row">
			<div class="items">
				<div ng-include="'img/hands.svg'"></div>
				<p>Дружелюбная атмосфера</p>
			</div><!-- 
		--><div class="items">
				<div ng-include="'img/cow.svg'"></div>
				<p>Натуральные ингридиенты</p>
			</div><!-- 
		--><div class="items">
				<div ng-include="'img/burger.svg'"></div>
				<p>Быстрая доставка</p>
			</div>
		</div>
	</div>
	<div class="main-third-block">
		<div class="row">
			<div class="svg">
				<a href="#/menu" class="menu-btn">
					<div class="btn-orange-border">
						<div class="btn-white-border">
							<div class="btn">
								<span>Перейти в меню</span>
							</div>
						</div>
					</div>
				</a>
				<div class="svg-images">
					<div id="third-hamburger">
						<img class="svg-image" src="img/third-hamburger.svg" alt="">
						<div class="notice">
							<img src="img/point-hamb.png" alt="">
							<p>Сочные бургеры</p>
						</div>
					</div>
					<div id="third-wog">
						<img class="svg-image" src="img/third-wog.svg" alt="">
						<div class="notice">
							<img src="img/point-wog.png" alt="">
							<p>Аппетитная лапша</p>
						</div>
					</div>
					<div id="third-bottle">
						<img class="svg-image" src="img/third-bottle.svg" alt="">
						<div class="notice">
							<img src="img/point-botl.png" alt="">
							<p>Освежающие напитки</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-fourth-block">
		<div class="row">
			<div class="items animate-news">
				<div class="wrap">
					<p class="item-title">Брускетты с томатами<br/>и копченным окороком</p>
					<p class="item-description">На сайте вы найдёте независимую оценку ведущих компаний в области интернет инвестирования, а также актуальный состав моего инвестиционного портфеля и его текущую доходность.</p>
					<p class="item-date">19.09.2015</p>
				</div>
				<div class="items-border">
					<div class="items-notice"></div>
				</div>
			</div><!--
		 --><div class="items animate-news">
				<div class="wrap">
					<p class="item-title">Беби бургер с картофелем фри</p>
					<p class="item-description">Если у вас есть стремление зарабатывать на Forex, но нет ни желания, ни времени изучать премудрости торговли на этом рынке, тогда вам необходимо выполнить несколько несложных действий.</p>
					<p class="item-date">19.09.2015</p>
				</div>
				<div class="items-border">
					<div class="items-notice"></div>
				</div>
			</div><!--
		 --><div class="items animate-news">
				<div class="wrap">
					<p class="item-title">Минеральная вода срибна<br/>без газа</p>
					<p class="item-description">Торговые риски — это риски, связанные непосредственно с торговой деятельностью трейдера.</p>
					<p class="item-date">16.09.2015</p>
				</div>
				<div class="items-border">
					<div class="items-notice"></div>
				</div>
			</div>
		</div>
	</div>
</div>